.home__container{
    row-gap: 2rem;
    padding-top: 1rem;
}
.home__data{
    text-align: center;
}
.home__title{
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
    line-height: 135%;
    position: relative;
    width: max-content;
    margin: 0 auto 1.25rem;
}
.home__title-box div{
    background: var(--gradient-color);
    padding: .25rem .25rem;
    border-radius: .5rem;
    color: var(--white-color);
    transform: rotate(-7deg);
}
.home__description{
    position: relative;
    margin-bottom: 1.5rem;
}
.home__img{
    width: 320px;
    justify-self: center;
}
.button{
    display: inline-flex;
    align-items: center;
    text-align: center;
    column-gap: .25rem;
    background: var(--gradient-color);
    padding: .5rem 1rem;
    border-radius: 4rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
}
.button i{
    font-style: 1.5rem;
    transition: transform .3s;
}
.button:hover i{
    transform: translateX(.25rem);
}