.join__container{
    padding-bottom: 2rem;
}
.join__content{
    display: grid;
    row-gap: 1.5rem;
    background: var(--gradient-color);
    padding: 3rem 1rem 2.5rem;
    border-radius: 2rem;
    text-align: center;
}
.joim__title,
.join__description{
    color: var(--white-color);
}
.join__title{
    font-size: var(--big-font-size);
    font-family: var(--second-font);
    margin-bottom: .75rem;
}
.join__input,
.join__button{
    width: 100%;
    outline: none;
    border: none;
}
.join__input{
    padding: 1.5rem;
    border-radius: 3rem;
    margin-bottom: .75rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.join__input::placeholder{
    color: var(--text-color-light);
}
.join__button{
    justify-content: center;
    box-shadow: 0 4px 12px hsla(260, 100%, 52%, .3);
    padding-block: 1.25rem;
}