.back{
    display: flex;
    align-items: center;
    max-width: 200px;
    justify-content: space-between;
    padding: 10px;
}
.back i{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.back i:hover{
    background-color: rgba(202, 202, 202, 0.349);
}

@media screen and (max-width: 450px) {
    .back{
        max-width: 50%;
    }
    .back .back-title{
        transform: translateX(50%);
        font-size: 18px;
    }
}