/* button common style */
.button{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    padding: .5rem 1rem;
    border-radius: 4rem;
    font-weight: var(--font-medium);
    border: 0;
    cursor: pointer;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.15);
    gap: 5px;
}
.hover i{
    font-style: 1.5rem;
    transition: transform .3s;
}
.hover:hover i{
    transform: translateX(.25rem);
}

/* gradient */
.gradient{
    background: var(--gradient-color);
    color: var(--white-color);
}

.secondary{
    background-color: white;
    border: 1px solid violet;
}

/* normal */
.normal{
    background-color: var(--white-color);
    color: black;
    font-size: 12px;
}


/* glassy */
.glassy{
    background-color: #ffffff33;
    font-size: 12px;
    color: var(--white-color);
    padding: 5px 15px;
    font-weight: var(--font-regular);
}
.outline{
    border: 1px solid black;
    background: white;
    font-size: 14px;
}


@media screen and (max-width: 1024px) {
    .normal{
        font-size: 11px;
    }
}
@media screen and (max-width: 425px) {
    .normal{
        font-size: 16px;
    }
}
@media screen and (max-width: 375px) {
    .normal{
        font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
    .normal{
        font-size: 11px;
    }
}