.profile__card{
    position: relative;
    max-width: 395px;
}
.profile__card-image img{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 4/5;
}
.profile__card-content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: antiquewhite;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2, 0, 36, .8) 0%, rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0) 100%);
}
.profile__top{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 15px;
}
.profile__desc h1{
    font-weight: 500;
    color: antiquewhite;
}
.profile__desc h4{
    color: antiquewhite;
    font-weight: 300;
    font-size: 12px;
}
.profile__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.fa-phone{
    color: blue;
}
.fa-heart{
    color: red;
}
.fa-star{
    color: gold;
}
@media screen and (max-width: 768px) {
    .profile__card{
        width: 320px;
    }
}
@media screen and (max-width: 425px) {
    .profile__card{
        width: 100%;
    }

}


.carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    height: 100%;
    width: 100%;
}
.carousel-item{
    margin-right: 0 !important;
    object-fit: contain;
}
.modal{
    width: 100%;
    z-index: 5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-item img {
    margin: 0 auto; /* this will align the image to center. */
    height: 70vh;
    width: auto; /* for those images which don't have a width specified, but has a max-height will be auto adjusted */
  }

  .close{
    position: absolute;
    z-index: 6;
    right: 0;
    font-size: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
  }
.carousel{
    position: relative;
}
  .carousel-btn{
    position: absolute;
    padding: 10px 17px;
    background-color: white;
    box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.75);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-left{
    left: 10px;
  }
  .carousel-right{
    right: 10px;
  }
  .carousel-inner{
    width: 100%;
    margin: 0;
  }