.profile__card{
    position: relative;
}
.profile__card-image img{
    border-radius: 5px;
}
.profile__card-content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    height: calc(100% - 5px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: antiquewhite;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2, 0, 36, .8) 0%, rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0) 100%);
}
.profile__top{
    display: flex;
    justify-content: space-between;
}
.profile__desc h1{
    font-weight: 500;
    color: antiquewhite;
}
.profile__desc h4{
    color: antiquewhite;
    font-weight: 300;
    font-size: 12px;
}
.profile__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.fa-phone{
    color: blue;
}
.fa-heart{
    color: red;
}
.fa-star{
    color: gold;
}
@media screen and (max-width: 768px) {
    .profile__card{
        width: 320px;
    }
}
@media screen and (max-width: 425px) {
    .profile__card{
        width: 100%;
    }

}
