.input__box{
    position: relative;
}
.input__box input,
.input__box .select-box select{
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--first-color);
    outline: none;
    background-color: transparent;
}
.input__box .select-box select{
    margin-bottom: 20px;
}
.input__box .select-box select option{
    padding: 5px 10px;
}
.input__box label,
.input__box .select-box select label{ 
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    color: black;
    transition: .3s;
    transform: translateY(-15px);
}

.error{
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 3px;
    color: red;
    display: none;
}
input:invalid~ label{
    color: red;
}
input:invalid[focused="true"]{
    border-bottom: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}
input::placeholder{
    color: var(--text-color-light);
    font-size: 14px;
}

.label>span{
    color: rgb(167, 167, 167);
    font-size: 12px;
}