.input__box{
    position: relative;
}
.input__box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--first-color);
    outline: none;
    background-color: transparent;
}
.input__box span{
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    color: var(--text-color-light);
    transition: .3s;
}
.input__box input:focus ~ span,
.input__box input:valid ~ span{
    transform: translateY(-10px);
    font-size: 14px;
}