.image_container{
    position: relative;
}
.image_container input{
    display: none;
}
.image_container label,
.image_container .image-choose{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 25px);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px #00000031;
}
.image_container .image-choose{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.image_container .image-choose i{
    font-size: 50px;
}
.image_container .image-choose span{
    font-size: 20px;
}
.image_container label{
    z-index: 3;
}

.image-container{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
.image-container::-webkit-scrollbar{
    display: none;
}
.image-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-delete{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.img-delete i{
    color: red;
}
.image_wrapper .imageCropper button,
.reactEasyCrop_Container{
    position: absolute;
    z-index: 5;
}
.image_wrapper .imageCropper button{
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}