.Interest__container{
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}
.interest__nav{
    margin-bottom: 20px;
}
.interest__nav a{
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
}
.interest__nav a.active{
    color: var(--second-color);
}
.interest__nav a.active::after{
    position: absolute;
    left: 5px;
    bottom: 0;
    content: '';
    height: 2px;
    width: calc(100% - 5px);
    background: var(--second-color);
}
.interest_sub a.active{
    background-color: var(--second-color);
    color: white;
}
.interest_sub{
    margin-bottom: 20px;
}
.interest_sub a{
    padding: 5px 15px;
    border-radius: 5px;
}
/* onyou */