.Interest__container{
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}
.interest__nav{
    margin-bottom: 20px;
}
.interest__nav a{
    position: relative;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0;
}
.interest__nav a.active::after{
    position: absolute;
    left: 5px;
    bottom: 0;
    content: '';
    height: 2px;
    width: calc(100% - 5px);
    background: rgb(63, 63, 63);
}

/* onyou */