.password-reset{
    max-width: 400px;
    margin: 10px auto;
}
.password-reset h1{
    margin-bottom: 50px;
}
.password-reset .form__container .input__box{
    margin-bottom: 20px;
}
.password-reset .last{
    align-items: center;
}